<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.customer.developcustomer.dao.mapper.DevelopCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jww.customer.developcustomer.model.DevelopCustomerModel">
        <result column="id_" property="id" />
        <result column="is_del" property="isDel" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="customer_name" property="customerName" />
        <result column="customer_no" property="customerNo" />
        <result column="sex" property="sex" />
        <result column="type" property="type" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="summary" property="summary" />
        <result column="email" property="email" />
        <result column="editable_" property="editable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        is_del,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        customer_name AS customerName, customer_no AS customerNo, sex, type, mobile_phone AS mobilePhone, summary, email, editable_ AS editable
    </sql>

</mapper>
