<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加$!{table.comment}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/common.css" media="all"/>
    <style type="text/css">
        .layui-form-item .layui-inline {
            width: 33.333%;
            float: left;
            margin-right: 0;
        }

        @media (max-width: 1240px) {
            .layui-form-item .layui-inline {
                width: 100%;
                float: none;
            }
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;" id="dataForm">
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
    <div class="layui-form-item">
        <label class="layui-form-label">${field.comment}</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="${field.propertyName}" name="${field.propertyName}" lay-verify="required"
                   placeholder="请输入${field.comment}">
        </div>
    </div>
        #end
    #end
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addFilter">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <input type="hidden" name="id" id="id"/>
</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="${table.entityPath}.js"></script>
</body>
</html>